<form action="/students" method="POST">
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" name="first_name">

  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" name="last_name">

  <label for="house-id">House id:</label>
  <input type="number" id="house-id" name="house_id">

  <label for="s-age">Age:</label>
  <input type="number" id="s-age" name="age">

  <input type="submit" value="Add Student">
</form>
